<form>
    <div class="mb-3">
        <app-input label="Enter Name" placeholder="Enter Your Name" type="text"></app-input>
    </div>
    <div class="mb-3">
        <app-input label="Enter Name" placeholder="Enter Your Name" type="password"></app-input>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



<app-input label="Enter Name" placeholder="Enter Your Name" type="text"></app-input>

<h2 class="hello">Hello</h2>
<button class="btn btn-primary"> Click</button>