@import 'src/styles';


.register-card {
    height:100vh;
    height: 100%;
}
.hello {
    color: $blue;
}

.footer-action {
    display: flex;
    justify-content: space-between;
}

.slider-card {
    height:98vh;
    height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-top: 50px;
    // margin-bottom: auto;
}

.carousel{
    height: 90vh;
    // height: 100%;
}
.carousel-item {
    // display: flex;
    // align-items: center;
    justify-content: center;
}
