@import 'src/styles';


.register-card {
    height:98vh;
}
.hello {
    color: $blue;
}

.footer-action {
    display: flex;
    justify-content: space-between;
}

.slider-card {
    height:98vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}